@{
  Layout = "_Layout";
}

@using PierresSweets.Models;
@model PierresSweets.Models.Flavor

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new Flavor" class="btn btn-default" />
}

<p>@Html.ActionLink("Show all Flavor", "Index")</p>